body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}
.buttons {
    padding-top:18px;
    width:487px;
    height:70px;
    margin-left:auto;
    margin-right: auto;
    z-index: 0;
}
center {
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align:center;
}
.btn {
    border-radius: 4px;
    height: 36px;
    margin: 11px 4px;
    padding: 0px 16px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #3c4043;
    min-width: 54px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadce0;
    color: #202124;
}
.btn:focus {
    border: 1px solid #4d90fe;
    outline: none;
}
#lucky {
    margin-left: 0.4%;
}
#searchbar {
    width: 387px;
    height:34px !important;
    font: 16px arial, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid rgb(118, 118, 118, 0.37);
    border-radius:18px;
}
a {
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    font-size: 13px;
    font-family: arial, sans-serif;
    color: #000;
    opacity: 0.75;
}
a:hover {
    text-decoration: underline;
}
.fbar {
    line-height: 40px;
    background: #f8f9fa;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    margin-left: -27px;
}
