body {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    padding-bottom: 15px;
}
.buttons {
    padding-top:18px;
    width:487px;
    height:70px;
    margin-left:auto;
    margin-right: auto;
    z-index: 0;
}
center {
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align:center;
}
.btn {
    border-radius: 4px;
    height: 36px;
    margin: 11px 4px;
    padding: 0px 16px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #3c4043;
    min-width: 54px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadce0;
    color: #202124;
}
.btn:focus {
    border: 1px solid #4d90fe;
    outline: none;
}
#lucky {
    margin-left: 0.4%;
}
#searcharea {
    width:582px;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
#searcharea:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
#searchbar {
    width: 487px;
    height:34px !important;
    font: 16px arial, sans-serif;
    display: block;
    margin:-33px -0px 0px 39px;
    border:none;
}
#searchicon {
    margin-top: 11px;
    margin-left: -3px;
}
#micicon {
    float:right;
    margin-top: 11px;
    margin-right: 13px;
}
a {
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    font-size: 13px;
    font-family: arial,sans-serif;
    color: #000;
    opacity: 0.75;
    margin-top:15px
}
a:hover {
    text-decoration: underline;
}
.topright {
    float:right
}
#apps {
    opacity: 0.55;
    margin-top: 10px;
}
#apps:hover {
    opacity:0.85;
}
#signin {
    font-family: arial,sans-serif;
    height:28px;
    color: #fff;
    font-weight: bold;
    background: #4285f4;
    padding: 0px 12px;
    margin: 7px 20px;
    border: 1px solid #4285f4;
    border-radius: 2px;
}
#signin:active {
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    background:#3f76d3;
}
#fbar {
    bottom: 0;
    left:0;
    right:0;
    position: absolute;
}
.bottom{
    height: 40px;
    background: #f2f2f2;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
}
.fbartext{
    color: #3e4041;
    font-size: 14px;
}
.leftside {
    margin-left:10px;
}
.rightside {
    float: right;
    margin-left: 10px;
}
#settings {
    margin-right: 25px;
}